<% if (currUser) { %>
<div class="footer d-flex flex-column p-5 w-100 bg-dark text-light justify-content-evenly" id="footer" style="min-height: 18rem;">
    <div class="footer-content text-light row">
        <div class="footer-content-left col-12 col-md-6">
            <h2 class="fw-bold fs-1" style="color: tomato;">Pinterest.</h2>
            <p>A Photo blogging website where you can upload pins with captions and can save other people's pins as well in saved boards. A user can follow other users as well.</p>
        </div>
        
        <div class="footer-content-center col-12 col-md-3">
            <h3>Company</h3>
            <ul class="fw-light list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/delivery">Delivery</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
        
        <div class="footer-content-right col-12 col-md-3">
            <h3>GET IN TOUCH</h3>
            <ul class="fw-light list-unstyled">
                <li>+91-8112450779</li>
                <li><a href="mailto:singhelboyankit@gmail.com">singhelboyankit@gmail.com</a></li>
            </ul>
        </div>
    </div>

    <hr class="text-light-emphasis">
    <div class="copyright text-center text-light-emphasis">
        <p>Copyright 2024 © Pinterest.com - All Rights Reserved</p>
    </div>
</div>
<%}%>
