
<div id="spinner-container" class="d-flex justify-content-center align-items-center vh-100 position-fixed w-100" style="background-color: rgba(255, 255, 255, 0.7); z-index: 1050;">
<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
